<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOM YouTube Dataset Refresher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pattern.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shorthand.css') }}">
{#    <link href="https://unpkg.com/pattern.css" rel="stylesheet">#}
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="bg-white gray-lightest pattern-zigzag-xl flex">
    <section class="content min-h-100vh text-center py-l5">
        {% block content %} {% endblock %}
    </section>
</div>
</body>
</html>